*{
	margin:0;
	padding: 0;
	list-style: none;
}
html,body{
	width: 100%;
	height: 100%;
}
.bannerbox{
	width: 100%;
	height: 100%;
	position: relative;
}
.bannerbox li{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top:0;
	opacity: 0;
}
.bannerbox li:nth-child(1){
	background: url(../img/150.jpg);
	background-size: cover;
	opacity: 1;
}
.bannerbox li:nth-child(2){
	background: url(../img/151.jpg);
	background-size: cover;
}
.bannerbox li:nth-child(3){
	background: url(../img/154.jpg);
	background-size: cover;
}
.bannerbox li:nth-child(4){
	background: url(../img/160.jpg);
	background-size: cover;
}
.bannerbox li:nth-child(5){
	background: url(../img/161.jpg);
	background-size: cover;
}